.nav-breadc {
  margin: 0% 0% 0% 0%;
  border-bottom: 3px solid rgb(246, 246, 246);
}

.brdcrmb {
  color: black;
}

.brdcrmb:before {
  color: black;
}

.active-crumb {
  color: purple;
}

.form-bord-control {
  border: 1px transparent black;
}
