<nav class="nav-breadc white z-depth-0">
  <div class="nav-wrapper">
    <div class="col s10">
      <a href="#!" class="breadcrumb brdcrmb"><strong>Customers</strong></a>
      <a href="#!" class="breadcrumb brdcrmb active-crumb"><strong>Max Jones</strong></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <div class="search-wrapper focused inline input-field">
            <input id="search" placeholder="Search">
          </div>
          <i class="material-icons left brdcrmb-grey inline">search</i>
        </li>
      </ul>
    </div>
  </div>
</nav>
