<nav class="nav-breadc white z-depth-0">
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s2 center">
        <a href="#!" class="breadcrumb brdcrmb"><strong>Customers</strong></a>
        <a href="#!" class="breadcrumb brdcrmb active-crumb"><strong>Max Jones</strong></a>
      </div>
      <div class="col s10">

        <ul class="right hide-on-med-and-down">
          <div class="search-field left valign-wrapper">
            <li>
              <div class="search-wrapper input-field">
                <input id="search" placeholder="SEARCH">
              </div>
            </li>
            <i class="material-icons left grey-text">search</i>
          </div>
          <li>
            <a data-activates="mdi-social-group-add" title="Convites" style="" class="notification-button notification-icon--fixed no-hover">
              <div class="block-elem">
                <i class="material-icons grey-text notif">markunread</i>
                <small class="notification-badge">1</small>
              </div>
            </a>
          </li>
          <li>
            <a data-activates="mdi-social-group-add" title="Convites" style="" class="notification-button notification-icon--fixed no-hover">
              <div class="block-elem">
                <i class="material-icons grey-text notif">notifications</i>
                <small class="notification-badge">4</small>
              </div>
            </a>
          </li>
          <li>
            <a href="#user" class="no-hover"><img class="circle" width="50px" src="../../assets/img/test-user.png"></a>
          </li>
          <li>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-trigger no-hover" href="#!" data-target="dropdown1"><strong>Hello Kemal</strong><i class="material-icons right">keyboard_arrow_down</i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
