<nav class="nav-breadc white z-depth-0">
  <div class="nav-wrapper">
    <div class="col s10">
      <a href="#!" class="breadcrumb brdcrmb"><strong>Customers</strong></a>
      <a href="#!" class="breadcrumb brdcrmb active-crumb"><strong>Max Jones</strong></a>
      <ul class="right hide-on-med-and-down">
        <div class="search-field left valign-wrapper">
          <li>
            <div class="search-wrapper input-field">
              <input id="search" placeholder="SEARCH">
            </div>
          </li>
          <i class="material-icons left brdcrmb-grey">search</i>
        </div>
        <li>
          <a data-activates="mdi-social-group-add" title="Convites" style="" class="notification-button notification-icon--fixed">
            <div class="block-elem">
              <i class="mdi-social-group-add large">
                  <small class="notification-badge">22</small>
                </i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
