.nav-breadc {
  margin: 0% 0% 0% 0%;
  border-bottom: 3px solid rgb(246, 246, 246);
}

.brdcrmb {
  color: black;
}

.brdcrmb-grey {
  color: rgb(209, 209, 209);
}

.brdcrmb:before {
  color: black;
}

.active-crumb {
  color: purple;
}


input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}

.search-field {
  border: 3px solid  rgb(209, 209, 209);
  height: 65px;
}
