<div class="navigation">
  <ul id="nav-mobile" class="sidenav sidenav-fixed blue-grey darken-4 hide-on-small-only" style="transform: translateX(0px);">
    <li>
      <h4 class="left-align navbar-logo">CreativeCRM</h4>
    </li>
    <li><a href="#!"><i class="small material-icons">dashboard</i><span class="but-text">Bonjour le Monde!</span></a></li>
    <hr class="horizontal-divisor">
    <li><a href="#!"><i class="small material-icons">pie_chart</i><span class="but-text">Bonjour le Monde!</span></a></li>
    <hr class="horizontal-divisor">
    <li><a href="#!"><i class="small material-icons">face</i><span class="but-text">Bonjour le Monde!</span></a></li>
    <hr class="horizontal-divisor">
    <li><a href="#!"><i class="small material-icons">date_range</i><span class="but-text">Bonjour le Monde!</span></a></li>
    <hr class="horizontal-divisor">
    <li><a href="#!"><i class="small material-icons">style</i><span class="but-text">Bonjour le Monde!</span></a></li>
  </ul>
</div>
