
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Work+Sans:wght@600&display=swap');

.navbar-logo {
  color: rgb(253, 207, 0);
  font-family: 'Work Sans', sans-serif;
  margin-left: 20px;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 48px;
}

.but-text {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 17px;
}

.horizontal-divisor {
  width: 90%;
  border: 1px solid #37474e ;
  margin: 0% 5% 0% 5%;
}
.nav-btn {
  height: 75px;
  padding: 5%;
}
.active {
  border-left: 5px solid rgb(253, 207, 0);
}
