<div class="navigation">
  <ul id="nav-mobile" class="sidenav sidenav-fixed blue-grey darken-4 hide-on-small-only" style="transform: translateX(0px);">
    <li>
      <h4 class="left-align navbar-logo">CreativeCRM</h4>
    </li>
    <li><a href="#!" class="nav-btn waves-effect waves-#6a1b9a valign-wrapper active purple darken-3"><i class="small material-icons white-text">dashboard</i><span class="but-text">Dashboard</span></a></li>
    <hr class="horizontal-divisor">
    <li><a href="#!" class="nav-btn waves-effect waves-light valign-wrapper"><i class="small material-icons white-text">pie_chart</i><span class="but-text">Reports</span></a></li>
    <hr class="horizontal-divisor">
    <li><a href="#!" class="nav-btn waves-effect waves-light valign-wrapper"><i class="small material-icons white-text">face</i><span class="but-text">Customers</span></a></li>
    <hr class="horizontal-divisor">
    <li><a href="#!" class="nav-btn waves-effect waves-light valign-wrapper"><i class="small material-icons white-text">date_range</i><span class="but-text">Calendar</span></a></li>
    <hr class="horizontal-divisor">
    <li><a href="#!" class="nav-btn waves-effect waves-light valign-wrapper"><i class="small material-icons white-text">style</i><span class="but-text">Tasks</span></a></li>
  </ul>
</div>
