<body>

    <div class="row">
        <div class="col s1"></div>
        <div class="col s3 elem z-depth-1">
            <h6 class="center-align" style="font-weight: 750;">CUSTOMER HAPPINESS</h6>
            <div class="container center-align">
                <i class="material-icons elem-icon">tag_faces</i>
                <br> The Product Is Awesome
                <div class="progress grey lighten-3" style="height: 10px; border-radius: 5px;">
                    <div class="determinate amber accent-3" style="width: 90%;"></div>
                </div>
                <div>90%</div>
            </div>
        </div>
        <div class="col s4 elem z-depth-1">
            <h6 class="center-align" style="font-weight: 750;">TOTAL TURNOVER</h6>
        </div>
        <div class="col s3 hold-elem ">
            <div class="row">
                <div class="col s12 sm-elem z-depth-1">
                    <div class="row">
                        <div class="col s4 amber accent-3 valign-wrapper sm-elem-icon-holder" style="height: 128px;">
                            <i class="material-icons white-text sm-elem-icon" style="margin-left: 30px;">check_box</i>
                        </div>
                        <div class="col s8">
                            <h6 class="center-align amber-text text-darken-3" style="font-weight: 750;">ORDERS TOTAL</h6>
                            <h4 class="center-align grey-text text-darken-3"><strong style="font-weight: 750;">43</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col s12 sm-elem sm-elem-down z-depth-1">
                    <div class="row">
                        <div class="col s4 purple darken-4 valign-wrapper sm-elem-icon-holder" style="height: 128px;">
                            <i class="material-icons white-text sm-elem-icon" style="margin-left: 30px;">library_books</i>
                        </div>
                        <div class="col s8">
                            <h6 class="center-align purple-text text-darken-4" style="font-weight: 750;">ORDERS IN PROGRESS</h6>
                            <h4 class="center-align grey-text text-darken-3"><strong style="font-weight: 750; margin-top: 0px;">2</strong></h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
</body>