<body>

    <div class="row">
        <div class="col s1"></div>
        <div class="col s3 elem z-depth-1">
            <h6 class="center-align">CUSTOMER HAPPINESS</h6>
            <div class="container center-align">
                <i class="material-icons elem-icon">tag_faces</i>
                <br> The Product Is Awesome
                <div class="progress grey lighten-3" style="height: 10px; border-radius: 5px;">
                    <div class="determinate amber accent-3" style="width: 90%;"></div>
                </div>
                <div>90%</div>
            </div>
        </div>
        <div class="col s4 elem z-depth-1">
            <h6 class="center-align">TOTAL TURNOVER</h6>
        </div>
        <div class="col s3 hold-elem ">
            <div class="row">
                <div class="col s12 sm-elem z-depth-1">
                    <div class="row">
                        <div class="col s3">
                            <!-- cube -->
                        </div>
                        <div class="col s9">
                            <h6 class="center-align">ORDERS TOTAL</h6>
                        </div>
                    </div>
                </div>
                <div class="col s12 sm-elem sm-elem-down z-depth-1">
                    <div class="row">
                        <div class="col s3">
                            <!-- db -->
                        </div>
                        <div class="col s9">
                            <h6 class="center-align">ORDERS IN PROGRESS</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
</body>