body {
    background-color: rgb(243, 242, 242);
}

.elem {
    border-radius: 5px;
    background-color: white;
    height: 250px;
    margin: 20px;
}

.hold-elem {
    margin-top: 20px;
}

.sm-elem {
    border-radius: 5px;
    background-color: white;
    height: 115px;
}

.sm-elem-down {
    margin: 20px;
    margin-top: 20px;
}

.elem-icon {
    color: rgb(206, 206, 206);
    font-size: 150px;
}