<body>

    <div class="row elem-handler">
        <div class="col xl4 m6 s12 row-element">
            <div class="elem z-depth-1">
                <h6 class="center-align" style="font-weight: 750;">CUSTOMER HAPPINESS</h6>
                <div class="container center-align">
                    <i class="material-icons elem-icon">tag_faces</i>
                    <br> The Product Is Awesome
                    <div class="progress grey lighten-3" style="height: 10px; border-radius: 5px;">
                        <div class="determinate amber accent-3" style="width: 90%;"></div>
                    </div>
                    <div>90%</div>
                </div>
            </div>
        </div>
        <div class="col xl4 m6 s12 row-element">
            <div class="elem z-depth-1 gradient-back">
                <h6 class="center-align white-text turnover-text" style="font-weight: 750;">TOTAL TURNOVER</h6>
                <h2 class="center-align white-text turnover-text" style="font-weight: 800; margin-top: 80px;">$4,255</h2>
            </div>
        </div>
        <div class="col xl4 m12 s12 row-element">
            <div class=" hold-elem">
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col s12 sm-elem z-depth-1">
                        <div class="row">
                            <div class="col s4 amber accent-3 valign-wrapper sm-elem-icon-holder" style="height: 128px;">
                                <i class="material-icons white-text sm-elem-icon" style="margin-left: 30px;">check_box</i>
                            </div>
                            <div class="col s8">
                                <h6 class="center-align amber-text text-darken-3" style="font-weight: 750;">ORDERS TOTAL</h6>
                                <h4 class="center-align grey-text text-darken-3"><strong style="font-weight: 750;">43</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 sm-elem sm-elem-down z-depth-1">
                        <div class="row">
                            <div class="col s4 purple darken-4 valign-wrapper sm-elem-icon-holder" style="height: 128px;">
                                <i class="material-icons white-text sm-elem-icon" style="margin-left: 30px;">library_books</i>
                            </div>
                            <div class="col s8">
                                <h6 class="center-align purple-text text-darken-4" style="font-weight: 750;">ORDERS IN PROGRESS</h6>
                                <h4 class="center-align grey-text text-darken-3"><strong style="font-weight: 750;">2</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row additional-counters-row">
        <div class="col s12 m6 l4 row-element">
            <div class="center-align z-depth-3 additional-counter">
                <h6 class="additional-counter-text grey-text text-darken-2">OPEN TICKETS</h6>
                <h4 class="additional-counter-value center-align grey-text text-darken-3">1</h4>
            </div>
        </div>
        <div class="col s12 m6 l4 row-element">
            <div class="center-align z-depth-3 additional-counter">
                <h6 class="additional-counter-text grey-text text-darken-2">UPSELL SUGGESTIONS</h6>
                <h4 class="additional-counter-value center-align grey-text text-darken-3">2</h4>
            </div>
        </div>
        <div class="col s12 m12 l4 row-element" style="margin-right: 0px;">
            <div class="center-align z-depth-3 additional-counter">
                <h6 class="additional-counter-text grey-text text-darken-2">OPEN PAYMENTS</h6>
                <h4 class="additional-counter-value center-align grey-text text-darken-3">0</h4>
            </div>
        </div>
    </div>
</body>
