<div class="activity grey lighten-4">
    <h6 class="grey-text text-darken-3 activity-header">Activity</h6>
    <hr>
    <div class="activity-card z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s1">
                <a href="#user" class="no-hover"><img class="circle" width="85px" src="../../assets/img/test-user.png"></a>
            </div>
            <div class="col s10">
                <h6 class="text-of-activity">Added new task "Remind customer to complete payment" assigned to Kemal.</h6>
            </div>
            <div class="col s2 grey-text text-darken-2">
                <h6 class="datetime-of-activity">Today at 4:24 PM</h6>
            </div>
        </div>
    </div>
    <div class="activity-card z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s1">
                <a href="#user" class="no-hover"><img class="circle" width="85px" src="../../assets/img/test-user.png"></a>
            </div>
            <div class="col s10">
                <h6 class="text-of-activity">Added new upsell suggestion Upsell in Customer Support Interactions.</h6>
            </div>
            <div class="col s2 grey-text text-darken-2">
                <h6 class="datetime-of-activity">July 21th</h6>
            </div>
        </div>
    </div>
    <div class="activity-card z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s1">
                <a href="#user" class="no-hover"><img class="circle" width="85px" src="../../assets/img/test-user.png"></a>
            </div>
            <div class="col s10">
                <h6 class="text-of-activity">Edited `Order #54789B`</h6>
            </div>
            <div class="col s2 grey-text text-darken-2">
                <h6 class="datetime-of-activity">July 21th</h6>
            </div>
        </div>
    </div>
    <div class="activity-card z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s1">
                <a href="#user" class="no-hover"><img class="circle" width="85px" src="../../assets/img/test-user.png"></a>
            </div>
            <div class="col s10">
                <h6 class="text-of-activity">Changed Invoice Address for Order #47893N</h6>
            </div>
            <div class="col s2 grey-text text-darken-2">
                <h6 class="datetime-of-activity">June 23rd</h6>
            </div>
        </div>
    </div>
</div>
