.activity {
    padding: 40px 20px;
    margin: 0%;
}

.activity-header {
    font-weight: 600;
    font-size: 20px;
}

.activity-card {
    position: relative;
    background-color: white;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    margin: 20px 0px;
}

.datetime-of-activity {
    font-weight: 600;
    font-size: 20px;
}

.text-of-activity {
    font-weight: 600;
    font-size: 20px;
}
