@keyframes activation {
  from {
      border-bottom: 0px solid rgb(89, 0, 190);
      border-bottom-width: 0%;
  }
  to {
      border-bottom: 5px solid rgb(89, 0, 190);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-width: 100%;
  }
}
@keyframes deactivation {
  from {
      border-bottom: 5px solid rgb(89, 0, 190);
      border-bottom-width: 0%;
  }
  to {
      border-bottom: 0px solid rgb(89, 0, 190);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-width: 100%;
  }
}

.content {
  padding-top: 65px;
  padding-left: 25px;
  padding-right: 25px;
}

.name {
  font-size: 22px;
}

.job {
  font-size: 18px;
  color: rgb(100, 100, 100);
}

.status {
  position: absolute;
  margin-top: 5px;
  font-weight: 500;
}

.add-info {
  position: absolute;
  color: purple;
  margin-top: 17px;
}

input {
  font-size: 15px;
  margin-top: 0%;
  height: 25px;
}

input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
  color: rgb(173, 173, 173);
}

.input-icon {
  position: relative;
}

#address {
  font-weight: 500;
  color: purple;
}

.quote-button {
  font-weight: 600;
  color: rgb(253, 194, 0);
  text-replace: color 0.5s background-color 0.5s;
}


.social-icon {
margin-left: 10px;
margin-right: 10px;
}

.top-content {
  margin: 0%;
  height: 75px;
}

.social-text {
  font-weight: 600;
  color: rgb(100, 100, 100);
  font-size: 15px;
}

.tab-text {
  font-weight: 700;
}

.tab-active {
  animation: activation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}


