<div class="row content">
  <div class="col s1">
    <img width="90px" class="circle z-depth-3" src="../../assets/img/random-pchuvak.jpg" alt="">
  </div>
  <div class="row col s11">
    <div class="row top-content">
      <div class="col s6 user-name left">
        <strong class="name">MAX JONES</strong>
        <span class="badge yellow darken-2 white-text status z-depth-3">GOLD</span>
        <br>
        <small class="job"><strong>Sales & Marketing</strong></small>
      </div>
      <div class="col s6 socials right-align">
        <span class="social-text">INVITE TO SOCIAL</span>
        <br>
        <ul>
          <li>
            <a href="">
              <img width="23px" class="social-icon" src="../../assets/img/icons/facebook.png">
            </a>
            <a href="">
              <img width="23px" class="social-icon" src="../../assets/img/icons/twitter.png">
            </a>
            <a href="">
              <img width="23px" class="social-icon" src="../../assets/img/icons/linkedin.png">
            </a>

          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row" style="margin-top: 25px;">
      <div class="col s3">
        <span class="grey-text"><strong>PHONE</strong></span>
        <br>
        <span class="add-info"><strong>(+31) 140 175 468</strong></span>
      </div>
      <div class="col s3">
        <span class="grey-text"><strong>EMAIL</strong></span>
        <br>
        <span class="add-info"><strong>maxjones@gmail.com</strong></span>
      </div>
      <div class="col s3">
        <span class="grey-text"><strong>ADDRESS</strong></span>
        <br>
        <div class="search-wrapper input-field">
          <div class="row">
            <div class="col s11">
              <input id="address" placeholder="SEARCH" value="Binnenweg 50, Rotterdam">
            </div>
            <div class="col s1"></div>
            <i class="material-icons input-icon grey-text">mode_edit</i>
          </div>
        </div>
      </div>
      <div class="col s3 right-align">
        <a href="" class="btn-large blue-grey darken-4 quote-button z-depth-3">CREATE QUOTE</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s1 tab-active"><a class="black-text" href="#test1"><strong class="tab-text">OVERVIEW</strong></a></li>
        <li class="tab col s1"><a class="black-text" href="#test2"><strong class="tab-text">ORDERS</strong></a></li>
        <li class="tab col s1"><a class="black-text" href="#test3"><strong class="tab-text">PAYMENTS</strong></a></li>
        <li class="tab col s2"><a class="black-text" href="#test4"><strong class="tab-text">INTERACTIONS</strong></a></li>
        <li class="tab col s2"><a class="black-text" href="#test5"><strong class="tab-text">CUSTOMER FEEDBACK</strong></a></li>
      </ul>
    </div>
    <!-- Tab content here -->
  </div>
</div>

