<div class="row content">
  <div class="col s1">
    <img width="90px" class="circle" src="../../assets/img/random-pchuvak.jpg" alt="">
  </div>
  <div class="row col s11">
    <div class="row">
      <div class="col s6 user-name left">
        <span><strong>MAX JONES</strong></span>
        <span class="badge yellow darken-2 white-text">GOLD</span>
        <br>
        <small class="job"><strong>Sales & Marketing</strong></small>
      </div>
      <!-- <div class="col s6 socials">

      </div> -->
    </div>
  </div>
</div>
